<!DOCTYPE html>
<html ng-app="LunchCheck">
  <head>
    <meta charset="utf-8">
    <title>The Name Calculator</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <div ng-controller="LunchCheckController">
      <div>
        What do you usually eat at lunch? : <input type="text" ng-model="lunchItems" ng-blur="upper()"></input>
    </div>
  <div >
    {{message}}
  </div>
<div >
  <input type="button"  value="Check If Too Much" ng-click="checkIfTooMuch()">
</div>
    </div>
  </body>
</html>
